{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="login form">
    <header>Login</header>
    <form  method="POST" action="/login">
        <input type="text" id="username" name="username" placeholder="name or email" required>
        <input type="password" id="password1" name="password1" placeholder="Enter your password" required>
        <input type="submit" class="button" value="Login">
    </form>
    <div class="signup">
        <span>Don't have an account?
            <a href="{{ url_for('register') }}">Register</a>
        </span>
    </div>
</div>
{% endblock %}
